:root {
	--color-dk-grey: #616e7d;
	--color-lt-green: #79b9a2;
	--color-dk-green: #5d917e;
	--color-text-grey: #343c45;
	--font-main: "Work Sans";
	--font-alt1: "Titillium Web";
	--breakpoint-mobile: "780px";
}

.App {
	text-align: center;
	background-color: aqua;
}

.bears {
	color: #bada55;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.vsBox {
	border: solid red 2px;
}

.challengeBox {
	border: solid red 2px;
}

.hero {
	width: 100vw;
	max-height: 40vh;
	display: flex;
	position: absolute;
	height: auto;
	justify-content: center;
	align-items: center;
}

.hero h1 {
	display: inline;
	position: absolute;
	top: 50%;
	z-index: 99999;
	margin: 0;
	color: white;
	text-shadow: 0px 0px 13.4px rgb(0, 0, 0, 0.5);
	text-transform: uppercase;
}

.hero img {
	object-fit: cover;
	width: 100%;
	position: relative;
}

.challengePage {
	background-color: #09d3ac;
}
